#social-links-wrapper {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-links-btns-container {
    display: flex;
    gap: 10px;
}

#social-links-btns-container a {
    font-size: 40px;
}